/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.dark-2{
  color: #474747;
}
.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
}


.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
.nave-titel-v-deco{
  color: #FD6E0A;
}
nav ul li{
  list-style: none;
  margin-right: 50px;

}
nav li a{
  text-decoration: none;
  font-size: 20px;

}
nav ul{
  display: flex;
  align-items: center;
}